{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css"/>
    <title>Pingpong - Dashboard</title>
    <script type="text/javascript" src="/static/js/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="/static/js/index.js"></script>
    <script type="text/javascript" src="/static/js/players.js"></script>
</head>
<body>
<table>
    {% if not players %}
        <h6>No players have been configured yet. Please refer README.md</h6>
    {% else %}
        <table class="table">
        {% for player in players %}
            <tr>
                <td>{{ player.player_id }}</td>
                <td>{{ player.name }}</td>
                <td><button id="join_player{{player.player_id}}" onclick="join_championship(event, {{ player.player_id }})">Join Tournament</button> </td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}
</table>
</body>
</html>